.black-nav{
    display: flex;
    background-color: black;
    width: 100%;
    color: white;
    padding-left: 20px;
}
.App{
    text-align: center;
}
div {
    box-sizing: content-box;
}
.list{
    padding-left: 20px;
    text-align: left;
    border-bottom: 1px solid gray;
    color: #eee;
}
.list .title{  
    font-weight: 700;
}
.modal{
    margin-top: 20px;
    padding: 20px;
    background-color: #eee;
    text-align: left;
}
textarea {
    width: 300px;
    height: 6.25em;
    border: none;
    resize: none;
}
body{
    background-image: url('C:\reactst\sjtest1\public\img\backgrund,.png');
}